name: Build & Push React App to GHCR

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          # Alternative: Use PAT if GITHUB_TOKEN doesn't have permissions
          # password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker Image
        run: docker build -t react-app .

      - name: Tag Docker Image for GHCR
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/react-app
          IMAGE_ID=$(echo $IMAGE_ID | tr '[:upper:]' '[:lower:]')
          echo "Image: $IMAGE_ID"
          docker tag react-app $IMAGE_ID:latest

      - name: Push Image to GHCR
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/react-app
          IMAGE_ID=$(echo $IMAGE_ID | tr '[:upper:]' '[:lower:]')
          docker push $IMAGE_ID:latest
